body {
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-link:hover {
    color: #007bff;
    font-weight: bold;
}


.navbar-brand,
.navbar-nav .nav-link {
    color: #333;
    transition: color 0.3s ease;
}

.navbar-toggler-icon {
    filter: invert(50%);
}

.navbar-nav {
    justify-content: flex-end;
}

.nav-item.nav-link.active {
    color: #007bff;
}

.nav-item.nav-link.disabled {
    color: #ccc;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.theme{
    position: fixed ;
}